<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/bundle.css' />
   <script src="./bundle.js" defer></script>
  </head>
  <body>
 
  </body>
</html>
